.calendar-field {
  position: relative;
}
/* .calendar-field .ant-picker {
  display: none;
} */

.calendar-wrapper .ant-picker-panel-container {
  background: #ffffff;
  box-shadow: 0px 11px 52px -22px #869298;
  border-radius: 8px;
}
.calendar-wrapper .ant-picker-panels:first-child .ant-picker-header {
  padding-left: 8px;
}
.calendar-wrapper .ant-picker-panels:last-child .ant-picker-header {
  padding-right: 25px;
}
.calendar-wrapper .ant-picker-body {
  padding: 0 5px 8px 5px;
}
.calendar-wrapper .ant-picker-panel {
  border: 0;
}
.calendar-wrapper .ant-picker-header {
  border-bottom: 0;
}
.calendar-wrapper .ant-picker-range-arrow {
  display: none;
}
.calendar-wrapper .ant-picker-header-view button {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  text-transform: initial;
  line-height: normal;
}
.calendar-wrapper .ant-picker-header-prev-btn span,
.calendar-wrapper .ant-picker-header-next-btn span {
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url("/images/icons/calendar-nav.svg") no-repeat center;
  transform: rotate(0);
}
.calendar-wrapper .ant-picker-header-prev-btn span.ant-picker-next-icon,
.calendar-wrapper .ant-picker-header-next-btn span.ant-picker-next-icon {
  transform: rotate(180deg);
}
.calendar-wrapper .ant-picker-header-prev-btn span:before,
.calendar-wrapper .ant-picker-header-next-btn span:before {
  display: none;
}
.calendar-wrapper .ant-picker-header-super-prev-btn,
.calendar-wrapper .ant-picker-header-super-next-btn {
  display: none;
}
.calendar-wrapper .ant-picker-content th {
  font-size: 9px;
  font-weight: 500;
  color: #333333;
  text-transform: initial;
  line-height: normal;
  opacity: 0.6;
}
.calendar-wrapper .ant-picker-content .ant-picker-cell .ant-picker-cell-inner {
  font-size: 9px;
  font-weight: 500;
}
.calendar-wrapper
  .ant-picker-content
  .ant-picker-cell.ant-picker-cell-start
  .ant-picker-cell-inner {
  color: #333333;
}

.calendar-wrapper .custom-range-picker {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: normal;
}
.calendar-wrapper .custom-range-picker .picker-selection {
  width: 173px;
  background: rgba(185, 197, 203, 0.11);
  border-radius: 8px;
  padding: 26px;
}
.calendar-wrapper .custom-range-picker .picker-selection .ant-radio {
  top: 0;
}
.calendar-wrapper .custom-range-picker .picker-selection .ant-radio-inner,
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  .ant-radio-checked
  .ant-radio-inner {
  border: 0;
  background: transparent;
  width: 18px;
  height: 18px;
}
.calendar-wrapper .custom-range-picker .picker-selection .ant-radio-inner:after,
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  .ant-radio-checked
  .ant-radio-inner:after {
  display: none;
}
.calendar-wrapper .custom-range-picker .picker-selection .ant-radio-inner {
  background: url("/images/icons/radio.svg") no-repeat center;
}
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  .ant-radio-checked
  .ant-radio-inner {
  background: url("/images/icons/radio-active.svg") no-repeat center;
}
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  label.ant-radio-wrapper {
  font-size: 12px;
  font-weight: 500;
  color: #869298;
  text-transform: initial;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: normal;
}
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  label.ant-radio-wrapper:not(:last-child) {
  margin-bottom: 16px;
}
.calendar-wrapper .custom-range-picker .calendar {
  width: calc(100% - 173px);
}
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: #7a9db8;
}
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.calendar-wrapper
  .custom-range-picker
  .calendar
  .top
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
  background: rgba(122, 157, 184, 0.28);
}
.calendar-wrapper .custom-range-picker .calendar .bottom {
  padding-left: 18px;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-save,
.calendar-wrapper .custom-range-picker .calendar .bottom .form-cancel {
  border-radius: 8px;
  padding: 7px 35px 8px 35px;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-save {
  margin-right: 10px;
  background: #da634a;
  border-radius: 4px;
  border: 1px solid #da634a;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-save:hover {
  background: #ffffff;
  color: #da634a;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-cancel {
  background: #ffffff;
  border: 1px solid #da634a;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #da634a;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-cancel:hover {
  background: #da634a;
  color: #ffffff;
}

.dropdown-range-picker-wrapper {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 10;
}

.custom-picker {
  font-size: 12px;
  font-weight: 500;
  color: #728188;
  text-transform: uppercase;
  line-height: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: normal;
  /* background: rgba(122, 157, 184, 0.17); */
  /* height: 30px; */
  padding: 7px 50px 8px 8px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  z-index: 15;
}
/* .custom-picker:hover {
  color: #728188;
  text-decoration: none;
}
.custom-picker:before,
.custom-picker:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
} */
/* .custom-picker:before {
  width: 14px;
  height: 16px;
  background: url("/images/icons/calendar.svg") no-repeat center;
  margin-right: 8px;
}
.custom-picker:after {
  width: 11px;
  height: 7px;
  background: url("/images/icons/drop-down.svg") no-repeat center;
  position: absolute;
  right: 7px;
  top: auto;
} */
/*# sourceMappingURL=style.css.map */
.pixel-sort-box .calendar-field,
.pixel-sort-box .calendar-field .store-dash-picker {
  width: 100%;
  height: 100%;
}
.pixel-sort-box .calendar-field .store-dash-picker {
  padding: 0;
  justify-content: space-evenly;
}
.calendar-wrapper .picker-body .ant-picker-header-view button {
  font-weight: 600;
}
.calendar-wrapper .picker-body .ant-picker-cell .ant-picker-cell-inner {
  font-weight: 600;
}
.calendar-wrapper .custom-range-picker .calendar .bottom {
  padding-left: 25px;
  margin: 20px 0 30px;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-save {
  margin-right: 15px;
}
.calendar-wrapper .custom-range-picker .calendar .bottom .form-cancel,
.calendar-wrapper .custom-range-picker .calendar .bottom .form-save {
  border-radius: 10px;
  padding: 7px 25px 8px 25px;
  text-transform: capitalize;
}
.calendar-wrapper .custom-range-picker .picker-selection {
  width: 190px;
  background: #ffffff;
  border-right: 1px solid #edefef;
  border-radius: 0;
}
.calendar-wrapper .custom-range-picker .calendar {
  width: calc(100% - 190px);
}
.calendar-wrapper .custom-range-picker .picker-selection .ant-radio-inner {
  background: url(/images/icons/calendar-radio.svg) no-repeat center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  .ant-radio-checked
  .ant-radio-inner {
  background: url(/images/icons/calendar-radio-active.svg) no-repeat center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.calendar-wrapper
  .custom-range-picker
  .picker-selection
  label.ant-radio-wrapper {
  color: #505771;
}
